[submodule "mbed-os"]
	path = mbed-os
	url = https://github.com/GreenWaves-Technologies/mbed-os.git
[submodule "tf2gap8"]
	path = tf2gap8
	url = https://github.com/GreenWaves-Technologies/tf2gap8.git
[submodule "applications"]
	path = applications
	url = https://github.com/GreenWaves-Technologies/gap_applications.git
[submodule "freeRTOS"]
	path = freeRTOS
	url = https://github.com/GreenWaves-Technologies/freeRTOS.git
[submodule "tools/pulp_tools"]
	path = tools/pulp_tools
	url = https://github.com/GreenWaves-Technologies/pulp_tools.git
[submodule "docs"]
	path = docs
	url = https://github.com/GreenWaves-Technologies/gap8_docs.git
