[submodule "mbed-os"]
	path = mbed-os
	url = https://github.com/GreenWaves-Technologies/mbed-os.git
[submodule "tools/pulp-debug-bridge"]
	path = tools/pulp-debug-bridge
	url = https://github.com/pulp-platform/pulp-debug-bridge.git
[submodule "tf2gap8"]
	path = tf2gap8
	url = https://github.com/GreenWaves-Technologies/tf2gap8.git
[submodule "applications"]
	path = applications
	url = ./applications/
